name: CI Tests

on:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  test-login-module:
    name: Test LoginModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          LoginModule/.build
        key: ${{ runner.os }}-spm-login-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build LoginModule
      run: |
        cd LoginModule
        rm -rf .build
        swift build
    
    - name: Test LoginModule
      run: |
        cd LoginModule
        swift test

  test-viewclients-module:
    name: Test ViewClientsModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          ViewClientsModule/.build
        key: ${{ runner.os }}-spm-viewclients-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build ViewClientsModule
      run: |
        cd ViewClientsModule
        rm -rf .build
        swift build
    
    - name: Test ViewClientsModule
      run: |
        cd ViewClientsModule
        swift test

  test-create-order-module:
    name: Test CreateOrderModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          CreateOrderModule/.build
        key: ${{ runner.os }}-spm-createorder-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build CreateOrderModule
      run: |
        cd CreateOrderModule
        rm -rf .build
        swift build
    
    - name: Test CreateOrderModule
      run: |
        cd CreateOrderModule
        swift test

  test-order-status-module:
    name: Test OrderStatusModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          OrderStatusModule/.build
        key: ${{ runner.os }}-spm-orderstatus-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build OrderStatusModule
      run: |
        cd OrderStatusModule
        rm -rf .build
        swift build
    
    - name: Test OrderStatusModule
      run: |
        cd OrderStatusModule
        swift test

  test-customer-registration-module:
    name: Test CustomerRegistrationModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          customerRegistrationModule/.build
        key: ${{ runner.os }}-spm-customerregistration-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build CustomerRegistrationModule
      run: |
        cd customerRegistrationModule
        rm -rf .build
        swift build
    
    - name: Test CustomerRegistrationModule
      run: |
        cd customerRegistrationModule
        swift test

  test-visit-log-module:
    name: Test VisitLogModule
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Cache Swift Package Manager
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/org.swift.swiftpm
          ~/Library/Caches/org.swift.swiftpm
          VisitLogModule/.build
        key: ${{ runner.os }}-spm-visitlog-module
        restore-keys: |
          ${{ runner.os }}-spm-
          
    - name: Build VisitLogModule
      run: |
        cd VisitLogModule
        rm -rf .build
        swift build
    
    - name: Test VisitLogModule
      run: |
        cd VisitLogModule
        swift test
